<div class="card">
    <h1>London Tube</h1>
    <div><a href="/" class="logo">&#x1F687;</a></div>
    {{{slackbtn}}}
    {{#if teams.length}}
    <h2>{{teams.length}} active teams</h2>
    {{else}}
    <h2 class="inactive">No active teams yet</h2>
    {{/if}}
    <div class="description">
        <p>London Underground status information straight from TFL in one command.</p>
        <p>Just <code>/tube</code> for all lines</p>
        <p>For a specific station/line: <code>/tube Euston</code> or <code>/tube District</code></p>
    </div>
    <div class="demo-section">
        <img class="demo" src="/images/demo.gif"/>
        <div class="current-status">
            <h2 class="current-status-heading">Current Tube Status</h2>
            {{#each tubeStatus}}
                <div class="status-indicator">
                    <span class="display:inline-block">{{name}}:</span>
                        {{#if incident}}
                            <span class="incident-text" >
                                {{statusDescription}}
                            </span>
                        {{else}}
                            <span class="good-service-text">
                                {{status}}
                            </span>
                        {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
    <div>
        <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=London%20Tube%20status%20in%20Slack!&url=https%3A%2F%2Ftube.awebots.com&via=hugo__df">
    Tweet</a>
    </div>
    <script>window.twttr = (function(d, s, id) { var js, fjs =
d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id))
return t; js = d.createElement(s); js.id = id; js.src =
"https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  t._e = []; t.ready = function(f) { t._e.push(f); };
  return t; }(document, "script", "twitter-wjs"));</script>
</div>
